<!DOCTYPE html>
<html>
    <head>
        <title>Karsten Ngai-Natsuhara asn2</title>
        <link rel="stylesheet" href="stylesheet.css">
    </head>
        
    <header>
        <h1>Rectangle Database</h1>
    </header>

    <body>
        <div class="Content">
            <h2>Rectangles</h2>

            <br>

            <table style="width:80%" id="Table">
                <tr>
                    <th style="width:25%">ID</th>
                    <th style="width:25%">Name</th>
                    <th style="width:25%">Color</th>
                    <th style="width:25%"></th>
                </tr>
                <% rows.forEach(function(r) { %>
                    <tr>
                        <td><%= r.id %></td>
                        <td><%= r.name %></td>
                        <td><%= r.color %></td>
                        <td><a href="javeascript: void(0)" id=<%= r.id %> >Submit</a></td>
                    </tr>
                <% }); %>
            </table>
            <br><br>

            <table style="width:80%" id="Table">
                <tr>
                    
                    <th style="width:20%">Name</th>
                    <th style="width:20%">Color</th>
                    <th style="width:20%">Width</th>
                    <th style="width:20%">Height</th>
                    <th style="width:20%"></th>
                </tr>
                <tr>
                    <td><input type="number" id="newName" min="0"></td>
                    <td><input type="number" id="newColor" min="0"></td>
                    <td><input type="number" id="newWidth" min="0"></td>
                    <td><input type="number" id="newHeight" min="0"></td>
                    <td><a href="javeascript: void(0)" onclick="Submit()">Submit</a></td>
                </tr>
            </table>

            <script>
                //javascript stuff here
            </script>

        </div>
    </body>
</html>