<!DOCTYPE html>
<html>
    <head>
        <title>Karsten Ngai-Natsuhara asn2</title>
        <link rel="stylesheet" href="/../../stylesheets/main.css">
    </head>
        
    <header>
        <h1>Rectangle Database</h1>
    </header>

    <body>
        <div class="Content">
            <h2>Rectangles</h2>

            <br>

            <table style="width:80%" id="Table">
                <tr>
                    <th style="width:25%">ID</th>
                    <th style="width:25%">Name</th>
                    <th style="width:25%">Color</th>
                    <th style="width:25%"></th>
                </tr>
                <% rows.forEach(function(r) { %>
                    <tr>
                        <td><%= r.id %></td>
                        <td><%= r.name %></td>
                        <td><%= r.color %></td>
                        <td><a href="/users/<%= r.id %>">Bio</a></td>
                    </tr>
                <% }); %>
            </table>
            <br><br>

            <table style="width:80%" id="Table">
                <tr>
                    <th style="width:1/6">Name</th>
                    <th style="width:1/6">Color</th>
                    <th style="width:1/6">Width</th>
                    <th style="width:1/6">Height</th>
                    <th style="width:1/6"></th>
                </tr>
                <tr>
                    <form action="/addrect" method="post">
                        <td><input type="text" name="newName" min="0"></td>
                        <td><input type="text" name="newColor" min="0"></td>
                        <td><input type="number" name="newWidth" min="0"></td>
                        <td><input type="number" name="newHeight" min="0"></td>
                        <td><input type="submit" value="Submit"></td>
                    </form>
                </tr>
            </table>

        </div>
    </body>
</html>